/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/resources/views/Cole/Panels/*.blade.php
.DS_Store
/routes/cole.php
/resources/views/App
/public/App
/app/Http/Controllers/App